*{
    margin:0px;
    font-family: Arial;
    box-sizing:border-box;
}
.navbaar
{
    display: flex;
    justify-content: space-evenly;
    height: 60px;
    width:100vw;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
}
.nav_logo
{
    height: 90px;
    width: 100px;
    margin-right: 50px;

    
}
.logo{
    height: 100px;
    width:200px;
    background-image: url(Images/lo.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.border
{
   border:1.5px solid transparent;

}
.border:hover{
    border:1.5px solid white;
    border-radius: 2px;
}
  /* This is box 2 of Navbaar */
.address
{
    height: 50px;
    width: 90px;
   border:1.5px solid transparent;
   
}

.add-icon
{
    display:flex;
    
}
.deliver{
    font-size: 0.7rem;
    color: #cccccc;
    padding:12px 0px 0px 21px;
}
.india
{
    font-size: 1rem;
    padding:3px 0px 0px 2px;
}
.location
{
 font-size:0.9rem;
 padding: 3px 4px;
}
 /* This is for search bar */
.search-bar
{
    height: 60px;
    width: 444px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.select
{
    height: 40px;
    width: 52px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    text-align: center;
    border: none;
    background-color: #f3f3f3;
}
.input
{
    height: 40px;
    width: 340px;
    font-size: 1rem;
  
}
.input:hover
{
    border: 2px solid orange;
}
.button
{
    display: flex;
    justify-content: center; 
    align-items: center;  
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    height: 40px;
    width: 52px;
    background-color:#febd68;
    border: none;
    color: black;
    font-size: 1.2rem;
}
.sign-in
{
    height: 50px;
    width: 138px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.sign-in a{
    text-decoration:none;
    color: white;
}
.para1
{   margin-top: 15px;
    font-size: 12px;
}
.para2
{
    font-size: 14px;
}
.Return
{
    height: 50px;
    width: 100px;
    text-align: center;

}
.paratop
{   margin-top: 15px;
    font-size: 12px;
}
.parabottom
{
    font-size: 14px;
}
.cart
{
    height: 50px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;   
}
.spell
{
    font-size: 15px;
}
.panel
{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-items p{
    display: inline;
    margin-left: 16px;
}
.panel-items
{
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.main
{
    height:350px;
    width: 1350px;
    background-image: url(Images/main.png);
    background-size:cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
   
   
}
.longline
{
    height: 40px;
    width: 1200px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}
.shop1
{
    display: flex;
    justify-content: space-evenly;
     background-color: #e2e7e6;
}
.box
{
    height: 400px;
    width: 290px;
    border: 2px solid transparent;
    position: relative;
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
    
 }
 .box:hover{
    border: 2px solid blue;
 }
.box1 h2{
    font-size:21px;
    position: relative;
    margin-top: 30px;
    margin-left: 25px;
}
 .box1-image
 {
    height: 300px;
    width: 270px;
    background-image: url(Images/Toys.png);
   background-size: contain;
   background-repeat: no-repeat;
    margin-top: 50px;    
    margin-left: 8px;
 }
 .box2 h2{
    font-size:21px;
    position: relative;
    margin-top: 30px;
    margin-left: 25px;
}
 .box2-image
 {
    height: 300px;
    width: 270px;
    background-image: url(Images/Deals.png);
   background-size: contain;
   background-repeat: no-repeat;
    margin-top: 50px;    
    margin-left: 8px;
 }
 .box3 h2{
    font-size:21px;
    position: relative;
    margin-top: 30px;
    margin-left: 25px;
}
 .box3-image
 {
    height: 300px;
    width: 270px;
    background-image: url(Images/Small.png);
   background-size: contain;
   background-repeat: no-repeat;
    margin-top: 50px;    
    margin-left: 8px;
 }
 .box4 h2{
    font-size:21px;
    position: relative;
    margin-top: 30px;
    margin-left: 25px;
}
 .box4-image
 {
    height: 300px;
    width: 270px;
    background-image: url(Images/Home.png);
   background-size: contain;
   background-repeat: no-repeat;
    margin-top: 50px;    
    margin-left: 8px;
 }


 .shop2
{
    display: flex;
    justify-content: space-evenly;
     background-color: #e2e7e6;
}

.box5 h2{
    font-size:21px;
    position: relative;
    margin-top: 30px;
    margin-left: 25px;
}
 .box5-image
 {
    height: 300px;
    width: 270px;
    background-image: url(Images/Beauty.png);
   background-size: contain;
   background-repeat: no-repeat;
    margin-top: 50px;    
    margin-left: 8px;
 }

 .box6 h2{
    font-size:21px;
    position: relative;
    margin-top: 30px;
    margin-left: 25px;
}
 .box6-image
 {
    height: 300px;
    width: 270px;
    background-image: url(Images/ShopHoliday.png);
   background-size: contain;
   background-repeat: no-repeat;
    margin-top: 50px;    
    margin-left: 8px;
 }
 .box7 h2{
    font-size:21px;
    position: relative;
    margin-top: 30px;
    margin-left: 25px;
}
 .box7-image
 {
    height: 300px;
    width: 270px;
    background-image: url(Images/Laptop.png);
   background-size: contain;
   background-repeat: no-repeat;
    margin-top: 50px;    
    margin-left: 8px;
 }
 .box8 h2{
    font-size:21px;
    position: relative;
    margin-top: 30px;
    margin-left: 25px;
}
 .box8-image
 {
    height: 300px;
    width: 270px;
    background-image: url(Images/Books.jpg);
   background-size: contain;
   background-repeat: no-repeat;
    margin-top: 50px;    
    margin-left: 8px;
 }
.back-to-top
{
    height: 49px;
    width: 1350px;
    background-color:#37475a ;
    margin-top: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info
{
    height: 450px;
    width: 1350px;
    background-color:#222f3d;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color:#dddddd;
    line-height: 28px;
}
.info h4{
    margin-bottom: 20px;
}
.get
{
    height: 318px;
    width: 136px;
    
}
.make
{
    height:318px;
    width:184px;
}
.amazon
{
    height:318px;
    width:222px;
}
.let{
    height:318px;
    width:157px;
}
.foot-logo
{
    height: 85px;
    width: 1350px;
    background-color: #222f3d;
    border-top: 1.5px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.language
{
    height: 30px;
    width: 120px;
    border: 1.2px solid #999999;
    border-radius: 3px;
   margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999999;
}
.usd
{
    height: 30px;
    width: 180px;
    border:1.2px solid #999999;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    color: #999999;

}
.final-panel
{
    height: 400px;
    width: 1350px;
    background-color: #131A22;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.boxi{
    height: 150px;
    width: 200px;
    border: 2px solid transparent;
    margin-top: 20px;
    color: #999999;
    font-size: 14px;
    display: flex;
    align-items:center;
    justify-content: center;
}
.boxi:hover{
    color: #f3f3f3;
}
.last
{
    height: 80px;
    width: 1350px;
    background-color: #131A22;
    border-top: 2px solid pink;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #DDDDDD;
    font-size: 12px;
    
}
